.click-text{
    display: -webkit-box;
    max-width: 300px;
    line-clamp: 3;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

main{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    width: fit-content;
    gap: 32px;
    margin: auto;
    padding-top: 50px;
}